style.
  @media screen and (max-width: 600px) {
    .content {
    width: 100% !important;
    display: block !important;
    padding: 10px !important;
    }
    .header, .body, .footer {
    padding: 20px !important;
    }
    }