extends baseEmail 
block content
    table(width='100%', border='0', cellspacing='0', cellpadding='0'  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px;" )
      tr
        td(align='center', style='padding: 20px;')
          table.content(width='600', border='0', cellspacing='0', cellpadding='0', style='border-collapse: collapse; border: 1px solid #cccccc;')
            // Header
            tr
              td.header(style='background-color:#80C4E9;  padding: 40px; text-align: center; color: white; font-size: 24px;')
                |Password Resetting
            // Body
            tr
              td.body(style='padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;')
                | Hello, #{firstName}! 
                br
                |                         Forgot your password?
                br
                br
                |                             Click the link below to start the process
            // Call to action Button
            tr
              td(style='padding: 0px 40px 0px 40px; text-align: center;')
                // CTA Button
                table(cellspacing='0', cellpadding='0', style='margin: auto;')
                  tr
                    td(align='center', style='background-color: #3DC2EC; padding: 10px 20px; border-radius: 5px;')
                      a(href=`${url}`, target='_blank', style='color: #ffffff; text-decoration: none; font-weight: bold;') Reset your password
            tr
              td.body(style='padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;')
                | If you didn't forget your password, please ignore this.
            // Footer
            tr
              td.footer(style='background-color: #000; padding: 40px; text-align: center; color: white; font-size: 14px;')
                | Copyright &copy; 2024 | Bookify.com
